.sidebar--container {
  border: 3px solid grey;
  width: 25vw;
  display: flex;
  flex-wrap: wrap;
  max-height: auto;
}

.form--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
