.projectBtn {
  outline: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 15px;
  height: 35px;
  width: 120px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  line-height: normal;
  background: linear-gradient(90deg, #5522fa 0, #0074e4 100%);
  border-radius: 50px;
  transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
  margin-top: 15px;
  margin-bottom: 15px;
}

.projectBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectBtn:hover {
  box-shadow: 0 0 0 0.15rem #5ceace;
}

.projectBtnDiv {
  display: flex;
  gap: 0.2rem;
}

/* Input Styling */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 250px;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: grey;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.textAreaFormField {
  font-family: inherit;
  width: 400px;
  height: 100px;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: grey;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder,
.textAreaFormField::placeholder {
  color: lightgrey;
}
.form__field:placeholder-shown ~ .form__label,
.textAreaFormField:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus,
.textAreaFormField:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label,
.textAreaFormField:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.educationLevel,
.educationName,
.educationStartDate,
.educationEndDate,
.educationDescription {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}

.educationDataWrapper {
  border: 1px solid lightgrey;
}
